@CHARSET "UTF-8";


body  {
 background-image: url('../Images/NYBG.jpg');
 background-size: cover; /* Resize the background image to cover the entire container */
 
}

.input-text {
	position:relative;
	top:200px;
	left:450px;
	
	
}